<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--<context:property-placeholder location="classpath:path.properties" ignore-unresolvable="true"/>-->

    <context:component-scan base-package="com.springListener.util"/>

    <mvc:annotation-driven/>

    <!--TaskExecutor提供的线程池支持也是基于jdk自带的Executor的-->
    <task:executor id="executor" pool-size="5" />

    <!--调度器-->
    <task:scheduler id="scheduler" pool-size="10" />

     <!--开启定时任务注解 -->
    <task:annotation-driven executor="executor" scheduler="scheduler" />

</beans>